.card {
    border-radius: 10px;
    width: 500px;
    border: 1px solid #ddd;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;

}

.img {
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-size: 54px;
    
   
    
}
.content {
    padding: 20px;
    text-align: left;
    background-color: white;
    text-align: left;
  }
  
  .title {
    margin: 0 0 10px;
  }
  
  .description {
    margin: 0 0 20px;
   
  }
  .html {
    color: red;
  }
  